extends layout

block mycss
  link(rel='stylesheet', href='/stylesheets/chat.css')

block content
  h1= title

  #chatfont
    p Chat to Client: #{clientName} #{clientSocketId}, Agency: #{agencyId}, Agent: #{agentName}.

    input#pAgencyId(type='hidden', value=agencyId)
    input#pAgentName(type='hidden', value=agentName)
    input#pClientName(type='hidden', value=clientName)
    input#pClientSocketId(type='hidden', value=clientSocketId)    

  #chatmsgclass
    ul#msgs.list-unstyled
 
  textarea#sendMsg.input.form-control.input-lg(rows='5', placeholder='Your Message')
  br
  button#sendBtn.btn.btn-success.btn-lg Send
  div
    ul#agentIsTyping.list-unstyled
          
  block myscripts
    script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js")
    //script(src="viewchat.js")
    script(src="/javascripts/chat.js")